{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "target": "es5",
    "loose": true,
    "baseUrl": "./",
    "paths": {
      "~/*": ["lib/*"],
      "@utils/*": ["lib/utils/*"],
      "@composite/*": ["lib/composite/*"],
      "@bodies/*": ["lib/bodies/*"]
    },
    "minify": {
      "compress": {
        "arguments": true,
        "arrows": true,
        "booleans": true,
        "booleans_as_integers": true,
        "collapse_vars": true,
        "comparisons": true,
        "computed_props": true,
        "conditionals": true,
        "dead_code": true,
        "directives": true,
        "drop_console": false,
        "drop_debugger": true,
        "evaluate": true,
        "expression": true,
        "hoist_funs": true,
        "hoist_props": true,
        "hoist_vars": true,
        "if_return": true,
        "join_vars": true,
        "keep_classnames": true,
        "keep_fargs": true,
        "keep_fnames": true,
        "keep_infinity": true,
        "loops": true,
        "negate_iife": true,
        "properties": true,
        "reduce_funcs": true,
        "reduce_vars": true,
        "side_effects": true,
        "switches": true,
        "typeofs": true,
        "unsafe": false,
        "unsafe_arrows": false,
        "unsafe_comps": false,
        "unsafe_Function": false,
        "unsafe_math": false,
        "unsafe_symbols": false,
        "unsafe_methods": false,
        "unsafe_proto": false,
        "unsafe_regexp": false,
        "unsafe_undefined": false,
        "unused": true
      },
      "mangle": {
        "toplevel": true,
        "keep_classnames": true,
        "keep_fnames": true,
        "keep_private_props": true,
        "ie8": true,
        "safari10": true
      }
    }
  },
  "module": {
    "type": "umd"
  },
  "minify": true
}
